<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons *ngIf="!setPasscodeMode" slot="primary">
      <ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label text-center
    ><div class="prompt">{{ prompt }}</div></ion-label
  >
  <ion-label text-center
    ><div class="pin">{{ displayPin }}</div></ion-label
  >
  <ion-label text-center color="danger"
    ><div class="error">{{ errorMessage }}</div></ion-label
  >
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let n of [1, 2, 3]">
        <ion-button
          expand="block"
          fill="outline"
          color="primary"
          (click)="append(n)"
          [disabled]="disableInput"
          >{{ n }}</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let n of [4, 5, 6]">
        <ion-button
          expand="block"
          fill="outline"
          color="primary"
          (click)="append(n)"
          [disabled]="disableInput"
          >{{ n }}</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let n of [7, 8, 9]">
        <ion-button
          expand="block"
          fill="outline"
          color="primary"
          (click)="append(n)"
          [disabled]="disableInput"
          >{{ n }}</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          color="danger"
          expand="block"
          fill="outline"
          (click)="delete()"
          [disabled]="disableDelete"
          >Delete</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button
          expand="block"
          fill="outline"
          color="primary"
          (click)="append(0)"
          [disabled]="disableInput"
          >0</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button
          color="secondary"
          expand="block"
          fill="outline"
          (click)="enter()"
          [disabled]="disableEnter"
          >Enter</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
