<ion-header>
  <ion-toolbar>
    <ion-title>Tea Types</ion-title>

    <ion-buttons slot="primary">
      <ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let category of (categories$ | async)" (click)="editCategory(category.id)">
      <ion-label>
        <div class="title">{{category.name}}</div>
        <div>{{category.description}}</div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>